@import "./../../constants/styles/colors";

.menuItem {
  color: $menuItemColor;
  display: inline-block;
  cursor: pointer;
  height: 30px;

}
.menuItem__content{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.menuItem:hover{
  color: $menuItemColorActive;
}
.menuItem.active{
  color: $menuItemColorActive;
}

.icon{
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.icon.active{
  visibility: visible;
}
.iconReverse{
  transform: rotate(180deg);
}