@import "./../../constants/styles/colors";

.menuItem {
  color: $menuItemColor;
  cursor: pointer;
  position: relative;
}
.menuItem__content{
  display: flex;
  align-items: center;
  font-size: 12px;
}
.menuItem:hover{
  color: $menuItemColorActive;
}
.menuItem.active{
  color: $menuItemColorActive;
}

.icon{
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.icon.active{
  visibility: visible;
}
.iconReverse{
  transform: rotate(180deg);
}