@import "./../../constants/styles/colors";

.productItem td{
  border-bottom: 1px solid $borderItem;
  height: 100px;
  text-align: center;
  position: relative;
}
.logoContainer{
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0px;
}
.sponsor{
  width: 15px;
  height: 15px;
  margin-right: 10px;
}


.tickBoxContainter{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tickBox{
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid $menuItemColorActive;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.tickBox.active{
  background-color: $menuItemColorActive;
}
.sponsor__text{
  position: absolute;
  right: 0;
  font-size: 14px;
  display: inline-block;
  color: $menuItemColorActive;
  transform-origin: center center;
  transform: rotate(-90deg);
  opacity: 0.5;
}

.removeBtn{
  border: 1px solid $menuItemColorActive;
  color: $menuItemColorActive;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: $menuItemColorActive;
    color: #ffffff;
  }
}
